In [6]:
!pip install selenium
!pip install webdriver_manager

Requirement already satisfied: selenium in c:\users\91756\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\91756\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\91756\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\91756\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\91756\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\91756\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\91756\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\91756\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\91756\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\91756\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\91756\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\91756\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\91756\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\91756\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\91756\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\91756\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Requirement already satisfied: webdriver_manager in c:\users\91756\anaconda3\lib\site-packages (4.0.1)
Requirement already satisfied: requests in c:\users\91756\anaconda3\lib\site-packages (from webdriver_manager) (2.31.0)
Requirement already satisfied: python-dotenv in c:\users\91756\anaconda3\lib\site-packages (from webdriver_manager) (0.21.0)
Requirement already satisfied: packaging in c:\users\91756\anaconda3\lib\site-packages (from webdriver_manager) (23.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\91756\anaconda3\lib\site-packages (from requests->webdriver_manager) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\91756\anaconda3\lib\site-packages (from requests->webdriver_manager) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\91756\anaconda3\lib\site-packages (from requests->webdriver_manager) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\91756\anaconda3\lib\site-packages (from requests->webdriver_manager) (2023.7.22)

In [2]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [3]:
#Define options and set browser capabilities
options = webdriver.ChromeOptions()
#options.add_argument('--some-option')

In [4]:
#Create Webdriver instance with options
driver = webdriver.Chrome(options = options)

In [14]:
#Navigate to a Website
driver.get('https://www.myntra.com/?src=bc')

In [18]:
search = driver.find_element(By.XPATH,".//input[@class='desktop-searchBar']")

In [19]:
search.send_keys("Cardigan Tops")

In [20]:
search.send_keys(Keys.ENTER)

In [21]:
brand = driver.find_elements(By.XPATH,".//h3[@class='product-brand']")
brands = [i.text for i in brand]
print(brands)

['JoE Hazel', 'JoE Hazel', 'JoE Hazel', 'Tokyo Talkies', 'Tokyo Talkies', 'Roadster', 'Tokyo Talkies', 'LULU & SKY', 'Ardene', 'LULU & SKY', 'Roadster', 'Roadster', 'Roadster']

In [27]:
desc = driver.find_elements(By.XPATH,".//h4[@class='product-product']")
description = [i.text for i in desc]

In [28]:
print(description)
print(len(description))

['Woman Pink Cardigan', 'Woman Green Cardigan', 'Woman Black Cardigan', 'Crop Top With Cardigan', 'Crop Top With Cardigan', 'Solid Cardigan Set', 'Crop Top With Cardigan Sweater', 'Crop Top With Cardigan', 'Cardigan Style Crop Top', 'Mandarin Collar Cardigan Top', 'Solid Cardigan Set', 'Solid Cardigan Set', 'Solid Cardigan Set']
13

In [31]:
pp = driver.find_elements(By.XPATH,".//span[@class='product-discountedPrice']")
price = [i.text for i in pp]

In [32]:
print(price)
print(len(price))

['Rs. 699', 'Rs. 699', 'Rs. 699', 'Rs. 1956', 'Rs. 1399', 'Rs. 1079', 'Rs. 1549', 'Rs. 1856', 'Rs. 1899', 'Rs. 1681', 'Rs. 719', 'Rs. 839', 'Rs. 1079']
13

In [34]:
df = pd.DataFrame(columns = ["Brands","Description","Price"])
df

Empty DataFrame
Columns: [Brands, Description, Price]
Index: []

In [35]:
df['Brands'] = brands
df['Description']=description
df['Price'] = price

In [36]:
df

           Brands                     Description     Price
0       JoE Hazel             Woman Pink Cardigan   Rs. 699
1       JoE Hazel            Woman Green Cardigan   Rs. 699
2       JoE Hazel            Woman Black Cardigan   Rs. 699
3   Tokyo Talkies          Crop Top With Cardigan  Rs. 1956
4   Tokyo Talkies          Crop Top With Cardigan  Rs. 1399
5        Roadster              Solid Cardigan Set  Rs. 1079
6   Tokyo Talkies  Crop Top With Cardigan Sweater  Rs. 1549
7      LULU & SKY          Crop Top With Cardigan  Rs. 1856
8          Ardene         Cardigan Style Crop Top  Rs. 1899
9      LULU & SKY    Mandarin Collar Cardigan Top  Rs. 1681
10       Roadster              Solid Cardigan Set   Rs. 719
11       Roadster              Solid Cardigan Set   Rs. 839
12       Roadster              Solid Cardigan Set  Rs. 1079

In [37]:
df.to_csv("Myntra.csv")

In [1]:
#TOP 10 DELL LAPTOPS FROM AMAZON.IN USING SELENIUM
#Define options and set browser capabilities
options = webdriver.ChromeOptions()
#options.add_argument('--some-option')

NameError: name 'webdriver' is not defined

In [3]:
#Create Webdriver instance with options
driver = webdriver.Chrome(options = options)

In [5]:
#Navigate to a Website
driver.get('https://www.amazon.in/?&tag=googhydrabk1-21&ref=pd_sl_5km84u9k2k_e&adgrpid=155259813113&hvpone=&hvptwo=&hvadid=676742245333&hvpos=&hvnetw=g&hvrand=14621050483678495818&hvqmt=e&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1007740&hvtargid=kwd-304880464215&hydadcr=14450_2367558&gad_source=1')

In [6]:
search = driver.find_element(By.XPATH,".//input[@class='nav-input nav-progressive-attribute']")

In [7]:
search.send_keys("Top 10 Best Dell Laptops")

In [8]:
search.send_keys(Keys.ENTER)

In [9]:
Prod = driver.find_elements(By.XPATH,".//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")

In [10]:

Product = [i.text for i in Prod]
print(Product)
print(len(Product))

['Dell 15 Laptop, Intel Core i5-1135G7 Processor/ 8GB DDR4/ 512GB SSD/ 15.6" (39.62cm) FHD/Mobile Connect/Windows 11 + MSO\'21/15 Month McAfee/Spill-Resistant Keyboard/Carbon Black/Thin & Light-1.69kg', 'Dell 14 Laptop, 12th Gen Intel Core i5-1235U Processor, 16GB, 512GB, 14.0" (35.56cm) FHD Display, Windows 11 + MSO\'21, Spill-Resistant Keyboard, 15 Month Mcafee, Black, Thin & Light- 1.48kg', 'Dell G15 5520 Gaming Laptop, Intel i5-12500H, 16GB DDR5, 512GB SSD, NVIDIA RTX 3050 (4GB GDDR6), 15.6"(39.62cm) FHD 120Hz 250 nits Display, Backlit KB Orange, Win 11 + MSO\'21, Dark Shadow Grey, 2.81kg', 'Dell 15 Laptop, Intel 12th Gen Core i3-1215U Proc/8GB DDR4/512GB SSD/Intel UHD Graphic/15.6" (38cm) FHD Display/Spill-Resistant Keyboard/Win11+MSO\'21/15 Month McAfee/Black/Thin & Light 1.69kg', 'Dell 14 Laptop, Intel Core i5-1135G7 Processor/8GB/512GB/Intel UHD Graphic/14.0" (35.6cm) FHD with Comfort View/Spill-Resistant Keyboard/Thin & Light 1.48kg/ Win 11+ MSO\'21/15 Month McAfee/Titan Grey', 'Dell 15 Laptop, Intel Core i3-1115G4 Processor/8GB DDR4/512GB SSD/Intel UHD Graphics/15.6" (39.6cm) FHD 120Hz Refresh, 250 nits/Mobile Connect/Win 11+MSO\'21/15 Month McAfee/Black/Thin & Light-1.66kg', 'Dell 14 Laptop, 12th Gen Intel Core i5-1235U Processor, 16GB, 512GB, 14.0" (35.56cm) FHD Display, Windows 11 + MSO\'21, Spill-Resistant Keyboard, 15 Month Mcafee, Black, Thin & Light- 1.48kg', 'Dell 15 Laptop, Intel Core i5-1135G7 Processor/16GB DDR4/512GB SSD/Intel UHD Graphic/15.6" (39.562cm) FHD Display/Win 11+MSO\'21/15 Month McAfee/Spill-Resistant Keyboard/Carbon/Thin & Light 1.69kg', 'Dell 14 Laptop, 12th Gen Intel Core i3-1215U Processor/8GB/512GB SSD/Intel UHD Graphics/14.0"(35.56cm) FHD/Windows 11 + MSO\'21/15 Month McAfee/Spill-Resistant Keyboard/Grey/Thin & Light 1.48kg', 'Dell Inspiron 7430 2in1 Touch Laptop, 13th Gen Intel Core i3-1315U/8GB/1TB SSD/14.0" (35.56cm) FHD+,16:10 Aspect Ratio/Backlit KB+FPR/Win 11+MSO\'21/15 Months McAfee/Platinum Silver/Thin & Light-1.58kg', 'HP Victus Gaming Laptop, AMD Ryzen 7 7840HS AI Powered, 6GB RTX 3050 GPU, 16.1-inch (40.9 cm), 95W TGP, FHD, IPS, 144Hz, 16GB DDR5, 1TB SSD, RGB Backlit KB, B&O (MSO, Blue, 2.29 kg), s0089AX', 'HP OMEN Gaming Laptop, AMD Ryzen 7 6800H, 8GB RTX 3070Ti GPU, 16.1-inch (40.9 cm), QHD, IPS, 165Hz, 16GB DDR5, 1TB SSD, 300 nits, RGB Backlit KB, B&O, Dual Speakers (MSO, Silver, 2.37 kg), n0123AX', 'Dell 15 Laptop, Intel Core i5-1135G7 Processor/ 8GB DDR4/ 512GB SSD/ 15.6" (39.62cm) FHD/Mobile Connect/Windows 11 + MSO\'21/15 Month McAfee/Spill-Resistant Keyboard/Carbon Black/Thin & Light-1.69kg', 'Dell Inspiron 3520 Laptop, 12th Gen Intel Core i5-1235U Processor, 8GB, 1TB HDD + 256GB SSD, 15.6" (39.62cm) FHD WVA AG 120Hz 250 nits, Windows 11 + MSO\'21, 15 Month McAfee, Black, 1.65Kgs', 'Dell G15 5520 Gaming Laptop, Intel i5-12500H/16GB DDR5/1TB SSD/15.6" (39.62cm) FHD WVA AG 120Hz 250 nits/NVIDIA RTX 3050, 4 GB GDDR6/Win 11 + MSO\'21/15 Months McAfee/Backlit KB/Dark Shadow Grey/2.81kg', 'Dell Inspiron 3525 Laptop, AMD Ryzen R3-5425U/8GB/512GB/15.6" (39.62cm) FHD, 3 Sided Narrow Border Design with 120Hz FHD Display/Windows 11 + MSO\'21/McAfee 15 Months/Carbon Black/Thin & Light-1.68kg', 'Dell 15 Laptop, 12th Gen Intel Core i5-1235U Processor, 8GB, 512GB SSD, 15.6" (39.62cm) FHD Display, Win 11 + MSO\'21, 15 Month McAfee Antivirus, Black, Spill-Resistant Keyboard, Thin & Light- 1.66kg', 'Dell Inspiron 3511 Laptop, Intel Core i5-1135G7, 8GB, 512GB SSD, 15.6" (39.62cm) 3 Sided Narrow Border Design with FHD Display/Windows 11 + MSO\'21/McAfee 15 Months/Carbon Black/1.8kg', 'Dell 15 Laptop, Intel Core i3-1115G4, 8GB/1TB + 256GB SSD/15.6" (39.62cm) FHD with Comfort View/Mobile Connect/Windows 11 + MSO\'21/15 Month McAfee/Spill-Resistant Keyboard/Carbon/Thin & Light-1.69kg', 'Dell Inspiron 3520 Laptop, Intel Core i5-1235U Processor, 8GB, 512GB SSD, 15.6" (39.62cm) FHD 120Hz 250 nits, Win 11 + MSO\'21, Backlit KB, 15 Months McAfee, Silver, 1.65kg', 'Dell 14 Laptop, 12th Gen Intel Core i3-1215U Processor/8GB/512GB SSD/Intel UHD Graphics/14.0"(35.56cm) FHD/Windows 11 + MSO\'21/15 Month McAfee/Spill-Resistant Keyboard/Grey/Thin & Light 1.48kg', 'Dell Inspiron 3520 Laptop, Intel Core i5-1235U Processor, 8GB, 512GB, 15.6" (39.62cm) FHD WVA AG 120Hz 250 nits, Win 11 + MSO\'21, 15 Month MCAfee, Black, 1.65kg']
22

In [22]:
Review = driver.find_elements(By.XPATH,".//span[@class='a-size-base s-undeline-text']")
Reviews = [i.symbol for i in Review]
print(Reviews)
print(len(Reviews))

[]
0

In [15]:
pp = driver.find_elements(By.XPATH,".//span[@class='a-price-whole']")
price = [i.text for i in pp]
print(price)
print(len(price))

['43,990', '49,990', '71,990', '35,990', '44,990', '199', '33,990', '49,990', '47,990', '35,990', '69,999', '81,990', '1,09,990', '43,990', '57,899', '76,990', '39,029', '47,490', '46,999', '34,990', '50,499', '35,990', '46,550']
23

In [16]:
df1 = pd.DataFrame(columns = ["Product & Description","Price"])
df1

Empty DataFrame
Columns: [Product & Description, Price]
Index: []

In [30]:
df1['Product & Description'] = Product[0:22]
sp = price[0:3]
np = price[4:23]
df1['Price'] = sp + np

In [31]:
print(df1)

                                Product & Description     Price
0   Dell 15 Laptop, Intel Core i5-1135G7 Processor...    43,990
1   Dell 14 Laptop, 12th Gen Intel Core i5-1235U P...    49,990
2   Dell G15 5520 Gaming Laptop, Intel i5-12500H, ...    71,990
3   Dell 15 Laptop, Intel 12th Gen Core i3-1215U P...    44,990
4   Dell 14 Laptop, Intel Core i5-1135G7 Processor...       199
5   Dell 15 Laptop, Intel Core i3-1115G4 Processor...    33,990
6   Dell 14 Laptop, 12th Gen Intel Core i5-1235U P...    49,990
7   Dell 15 Laptop, Intel Core i5-1135G7 Processor...    47,990
8   Dell 14 Laptop, 12th Gen Intel Core i3-1215U P...    35,990
9   Dell Inspiron 7430 2in1 Touch Laptop, 13th Gen...    69,999
10  HP Victus Gaming Laptop, AMD Ryzen 7 7840HS AI...    81,990
11  HP OMEN Gaming Laptop, AMD Ryzen 7 6800H, 8GB ...  1,09,990
12  Dell 15 Laptop, Intel Core i5-1135G7 Processor...    43,990
13  Dell Inspiron 3520 Laptop, 12th Gen Intel Core...    57,899
14  Dell G15 5520 Gaming Laptop, Intel i5-12500H/1...    76,990
15  Dell Inspiron 3525 Laptop, AMD Ryzen R3-5425U/...    39,029
16  Dell 15 Laptop, 12th Gen Intel Core i5-1235U P...    47,490
17  Dell Inspiron 3511 Laptop, Intel Core i5-1135G...    46,999
18  Dell 15 Laptop, Intel Core i3-1115G4, 8GB/1TB ...    34,990
19  Dell Inspiron 3520 Laptop, Intel Core i5-1235U...    50,499
20  Dell 14 Laptop, 12th Gen Intel Core i3-1215U P...    35,990
21  Dell Inspiron 3520 Laptop, Intel Core i5-1235U...    46,550

In [32]:
df1.to_csv("Delllp.csv")

In [32]:
#scrape smartwatches from myntra
#Define options and set browser capabilities
options = webdriver.ChromeOptions()
#options.add_argument('--some-option')

In [33]:
#Create Webdriver instance with options
driver = webdriver.Chrome(options = options)

In [34]:
#Navigate to a Website
driver.get("https://www.myntra.com/")

In [36]:
search = driver.find_element(By.XPATH,".//input[@class='desktop-searchBar']")

In [37]:
search.send_keys("Smart Watches")

In [38]:
search.send_keys(Keys.ENTER)

In [39]:
brand = driver.find_elements(By.XPATH,".//h3[@class='product-brand']")
brands = [i.text for i in brand]
print(brands)

['Fire-Boltt', 'boAt', 'NOISE', 'CMF by Nothing', 'Cultsport', 'pebble', 'NOISE', 'pebble', 'Fire-Boltt', 'pebble', 'Fire-Boltt', 'boAt', 'NOISE', 'Fire-Boltt', 'boAt', 'Fire-Boltt', 'NOISE', 'CMF by Nothing', 'pebble', 'NOISE', 'pebble', 'NOISE', 'Fire-Boltt', 'Fire-Boltt', 'pebble', 'Fire-Boltt', 'Fastrack', 'Fire-Boltt', 'NOISE', 'Fire-Boltt', 'pebble', 'boAt', 'Fire-Boltt', 'Fastrack', 'Fire-Boltt', 'pebble', 'Fire-Boltt', 'pebble', 'Fire-Boltt', 'NOISE', 'Fire-Boltt', 'CMF by Nothing', 'NOISE', 'Fire-Boltt', 'Realme', 'Fastrack', 'NOISE', 'NOISE', 'Realme', 'Timex']

In [40]:
desc = driver.find_elements(By.XPATH,".//h4[@class='product-product']")
description = [i.text for i in desc]
print(description)

['Rock AMOLED Display Smartwatch', 'Unisex Wave Genesis Smartwatch', 'Fit Posh Smartwatch', 'Watch Pro', 'Ace XR 1.43" Smart Watches', 'Women 1.27" Smart Watch', 'Mettle EliteEdition Smartwatch', 'Celia 1.32" Display SmartWatch', 'Eclipse Luxe 1.43" Amoled', 'Cosmos Ultra 1.91" BT Calling Smartwatch', 'Starlight Bluetooth Smartwatch', 'Ultima Connect Max HD Display', 'ColorFit Vision 3 Smartwatch', 'Hurricane Smartwatch', 'Ultima BT Calling Smartwatch', 'Aura BT Calling Smartwatch', 'ColorFit Icon 2 Smartwatch', 'Watch Pro', 'Cosmos Ultra 1.91" BT Calling Smartwatch', 'Fit Posh Smartwatch', 'Cosmos Quest Smartwatch', 'ColorFit Icon 2 Smartwatch', 'Hurricane Smartwatch', 'Crusader Amoled 1.43BT Calling', 'Cosmos Ultra 1.91" BT Calling Smartwatch', 'Avalanche Luxury Smart Watch', '1.91" HD Display Smartwatch', 'Eclipse Luxe 1.43" Amoled', 'ColorFit Pro 5 Max Smartwatch', 'Grenade BT Calling Smartwatch', 'BT Calling Luxury Smartwatch', 'Enigma Z40 Smartwatch', 'Visionary TWS Smartwatch', 'FS2 BT Calling Smartwatch', 'Cobra AMOLED Smart Watch', 'Women 1.27" Smart Watch', 'Supernova Bluetooth SmartWatch', 'Hive 1.39" Display Smart Watch', 'Hulk 1.78 inch Smartwatch', 'Fit Posh Smartwatch', 'Hulk 1.78 inch Smartwatch', 'Watch Pro', 'ColorFit Caliber Smartwatch', 'Hurricane Smartwatch', 'TechLife Watch S100', 'Vigor HD Display Smartwatch', 'ColorFit Pro 5 Smartwatch', 'Evolve 3 Smartwatch', 'TechLife Watch S100', 'FitGen Smart Watches']

In [41]:
pp = driver.find_elements(By.XPATH,".//span[@class='product-discountedPrice']")
price = [i.text for i in pp]
print(price)
print(len(price))

['Rs. 3199', 'Rs. 1899', 'Rs. 1799', 'Rs. 3499', 'Rs. 2799', 'Rs. 2299', 'Rs. 2249', 'Rs. 2299', 'Rs. 1799', 'Rs. 1599', 'Rs. 1599', 'Rs. 1899', 'Rs. 3499', 'Rs. 1700', 'Rs. 1899', 'Rs. 1999', 'Rs. 1799', 'Rs. 3499', 'Rs. 1599', 'Rs. 1799', 'Rs. 2499', 'Rs. 1799', 'Rs. 1850', 'Rs. 1899', 'Rs. 1599', 'Rs. 2199', 'Rs. 2995', 'Rs. 1999', 'Rs. 4999', 'Rs. 1699', 'Rs. 1999', 'Rs. 4799', 'Rs. 2499', 'Rs. 1999', 'Rs. 1899', 'Rs. 2299', 'Rs. 1899', 'Rs. 1699', 'Rs. 1799', 'Rs. 1799', 'Rs. 1799', 'Rs. 3499', 'Rs. 999', 'Rs. 1899', 'Rs. 2499', 'Rs. 2495', 'Rs. 3999', 'Rs. 2449', 'Rs. 2499', 'Rs. 3497']
50

In [42]:
df2 = pd.DataFrame(columns = ["Brands","Description","Price"])
df2

Empty DataFrame
Columns: [Brands, Description, Price]
Index: []

In [44]:
df2['Brands'] = brands
df2['Description']=description
df2['Price'] = price

In [45]:
print(df2)

            Brands                               Description     Price
0       Fire-Boltt            Rock AMOLED Display Smartwatch  Rs. 3199
1             boAt            Unisex Wave Genesis Smartwatch  Rs. 1899
2            NOISE                       Fit Posh Smartwatch  Rs. 1799
3   CMF by Nothing                                 Watch Pro  Rs. 3499
4        Cultsport                Ace XR 1.43" Smart Watches  Rs. 2799
5           pebble                   Women 1.27" Smart Watch  Rs. 2299
6            NOISE            Mettle EliteEdition Smartwatch  Rs. 2249
7           pebble            Celia 1.32" Display SmartWatch  Rs. 2299
8       Fire-Boltt                 Eclipse Luxe 1.43" Amoled  Rs. 1799
9           pebble  Cosmos Ultra 1.91" BT Calling Smartwatch  Rs. 1599
10      Fire-Boltt            Starlight Bluetooth Smartwatch  Rs. 1599
11            boAt             Ultima Connect Max HD Display  Rs. 1899
12           NOISE              ColorFit Vision 3 Smartwatch  Rs. 3499
13      Fire-Boltt                      Hurricane Smartwatch  Rs. 1700
14            boAt              Ultima BT Calling Smartwatch  Rs. 1899
15      Fire-Boltt                Aura BT Calling Smartwatch  Rs. 1999
16           NOISE                ColorFit Icon 2 Smartwatch  Rs. 1799
17  CMF by Nothing                                 Watch Pro  Rs. 3499
18          pebble  Cosmos Ultra 1.91" BT Calling Smartwatch  Rs. 1599
19           NOISE                       Fit Posh Smartwatch  Rs. 1799
20          pebble                   Cosmos Quest Smartwatch  Rs. 2499
21           NOISE                ColorFit Icon 2 Smartwatch  Rs. 1799
22      Fire-Boltt                      Hurricane Smartwatch  Rs. 1850
23      Fire-Boltt            Crusader Amoled 1.43BT Calling  Rs. 1899
24          pebble  Cosmos Ultra 1.91" BT Calling Smartwatch  Rs. 1599
25      Fire-Boltt              Avalanche Luxury Smart Watch  Rs. 2199
26        Fastrack               1.91" HD Display Smartwatch  Rs. 2995
27      Fire-Boltt                 Eclipse Luxe 1.43" Amoled  Rs. 1999
28           NOISE             ColorFit Pro 5 Max Smartwatch  Rs. 4999
29      Fire-Boltt             Grenade BT Calling Smartwatch  Rs. 1699
30          pebble              BT Calling Luxury Smartwatch  Rs. 1999
31            boAt                     Enigma Z40 Smartwatch  Rs. 4799
32      Fire-Boltt                  Visionary TWS Smartwatch  Rs. 2499
33        Fastrack                 FS2 BT Calling Smartwatch  Rs. 1999
34      Fire-Boltt                  Cobra AMOLED Smart Watch  Rs. 1899
35          pebble                   Women 1.27" Smart Watch  Rs. 2299
36      Fire-Boltt            Supernova Bluetooth SmartWatch  Rs. 1899
37          pebble            Hive 1.39" Display Smart Watch  Rs. 1699
38      Fire-Boltt                 Hulk 1.78 inch Smartwatch  Rs. 1799
39           NOISE                       Fit Posh Smartwatch  Rs. 1799
40      Fire-Boltt                 Hulk 1.78 inch Smartwatch  Rs. 1799
41  CMF by Nothing                                 Watch Pro  Rs. 3499
42           NOISE               ColorFit Caliber Smartwatch   Rs. 999
43      Fire-Boltt                      Hurricane Smartwatch  Rs. 1899
44          Realme                       TechLife Watch S100  Rs. 2499
45        Fastrack               Vigor HD Display Smartwatch  Rs. 2495
46           NOISE                 ColorFit Pro 5 Smartwatch  Rs. 3999
47           NOISE                       Evolve 3 Smartwatch  Rs. 2449
48          Realme                       TechLife Watch S100  Rs. 2499
49           Timex                      FitGen Smart Watches  Rs. 3497

In [46]:
df2.to_csv("MSmartWatches.csv")